{{#each rounds as |round|}}

  <div class="rounds-list" data-id="{{round.id}}">
  <div><strong>Date:</strong> {{round.date}}</div>
  <div><strong>Range Name:</strong> {{round.range_name}}</div>
  <div><strong>Range Type:</strong> {{round.range_type}}</div>
  <div><strong>Bow Class:</strong> {{round.bow_class}}</div>
  <div><strong>Arrows/End:</strong> {{round.arrows_per_end}}</div>
  <div><strong># of Ends:</strong> {{round.number_of_ends}}</div>
  <div><strong>Total Score:</strong> {{round.total_score}}</div>
  <button class="editRoundButton" data-id="{{round.id}}">Edit</button>
  <button class="deleteRoundButton" data-id="{{round.id}}">Delete</button>
  <br>
  <br>
  </div>

{{/each}}
